* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(66, 69, 86);
  background: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.75)
    ),
    url('https://images.pexels.com/photos/1824273/pexels-photo-1824273.jpeg?auto=compress&cs=tinysrgb&w=600')
      no-repeat center/cover fixed;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  background: rgb(66, 69, 86);
  color: white;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
}

button:hover {
  background: rgb(56, 59, 76);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

input {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  background-color: aliceblue;
  transition: 0.3s;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
}

input:focus {
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 3rem;
  margin: 1rem;
  color: white;
}

p {
  font-size: 1.25rem;
  margin: 1rem;
  color: white;
}
